body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* ============================= */
/* BAGIAN KIRI (60%) */
/* ============================= */
.left-section {
    width: 60%;
    background-image: url("asset/bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 30px;
}

/* Logo pojok kiri atas */
.logo {
    width: 170px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Text bagian bawah kiri */
.left-text {
    position: absolute;
    bottom: 60px;
    left: 30px;
    width: 75%;
}

.left-text h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}

.left-text p {
    font-size: 16px;
    opacity: 0.9;
    line-height: 1.6;
}

/* ============================= */
/* BAGIAN KANAN (40%) */
/* ============================= */
.right-section {
    width: 40%;
    padding: 80px 60px;
    background-color: #ffffff8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    color: #0b1a5c;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 18px;
    color: #1a2c92;
    margin-bottom: 40px;
}

/* Form */
label {
    font-weight: bold;
    color: #0b1a5c;
    font-size: 14px;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #aaa;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
}

input:focus {
    border-color: #0b1a5c;
    outline: none;
}

/* Button */
.login-btn {
    width: 105%;
    padding: 14px;
    background-color: #0b1a5c;
    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #0c2470;
}

.error {
    color: red;
    font-size: 14px;
    height: 20px;
}